.container{
	padding-top: 5rem;
}

button{
	width: 20%;
}
input{
	width:50%;
}

h1 {
	font-size: 2em;
}
.form-control {
	margin: 1rem;
}

@media only screen and (max-width:1200px) {
	h1{
		display: none;
	}
}
small{
	color: red;
}