.container{
	text-align: center;
}
h1{
	
}
.form-group{
	width: 50%;
	margin: 0 auto;
}
.form-control{
	margin: 2rem;
}
.form-select{
	margin-bottom: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
}
small{
	color: red;
}